@model TestForum.Models.Theme
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex justify-content-between align-items-center">
    <h2>@Model.Title</h2>
    <p>Created by: @Model.User.UserName@(await UserManager.IsInRoleAsync(Model.User, "Admin") ? " (Admin)" : "")</p>
</div>
<div class="container">
    <p>@Model.Description</p>
</div>
<hr />

<h4>Posts:</h4>

@foreach(var post in Model.Posts)
{
    <div class="container bd-purple-200 p-4 myrounded m-3">
        <div class="row">
            <div class="col-3 align-self-start">
                <p><b>@post.User.UserName@(await UserManager.IsInRoleAsync(post.User, "Admin") ? " (Admin)" : ""):</b></p>
            </div>
            <div class="col-9 d-flex justify-content-between align-items-end">
                <p>@post.Content</p>
                @if (UserManager.GetUserId(User) == post.IdentityUserId || User.IsInRole("Admin"))
                {
                    <div class="text-right">
                        <a class="btn btn-danger" asp-action="DeletePost" asp-route-id="@post.Id">Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="container m-3">
    <h2>Add post:</h2>
<form asp-action="AddPost">
    <div class="form-group">
        <textarea name="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="IdentityUserId" class="form-control" value="@UserManager.GetUserId(User)" />
    </div>
    <div class="form-group">
        <input type="hidden" name="ThemeId" class="form-control" value="@Model.Id" />
    </div>
        <div class="container d-flex justify-content-between align-items-center mt-3">
    <div class="form-group">
                <input type="Submit" class="btn btn-primary" value="Submit" />
    </div>
        <div>
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
        </div>
        </div>
</form>


</div>
