@using System.Security.Claims
@model PaginatedList<TestForum.Models.Theme>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New theme</a>
</p>


@foreach (var item in Model) {
    <div class="container bd-purple-200 p-4 myrounded m-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h4>@item.Title</h4>
            <p>Created by: @item.User.UserName</p> 
        </div>
        <hr />
        <div class="container">
            <p>@item.Description</p>
        </div>
        <hr />
        <div class="container d-flex justify-content-between align-items-center">
            <div class="container">
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Admin") || (User.Identity.IsAuthenticated && item.User.Id == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                {
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                }
            </div>
            <div class="container custom-container">
                <p class="custom-text">
                Total posts: @item.Posts.Count
            </p>
            </div>
    </div>
    </div>

}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center align-items-end mb-4">
    <a asp-action="index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled"><<</a>
    <div class="btn" style="cursor: default">
        Page @Model.PageIndex of @(Model.TotalPages == 0 ? 1 : Model.TotalPages)
    </div>
    <a asp-action="index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">>></a>
</div>
